@{
    ViewBag.Title = "Planets";
}

<h2>Planets</h2>
<!--Page Explaining the existence of various planets in the Star Wars Galaxy-->
<!--DON'T TRY RUNNING APPLICATION FROM THIS PAGE-->
<div class="row" style='padding:60px;'>
    <div class="col-lg-12">
        <p>[Paragraph explaining that there are hundreds of amazing planets in the Star Wars galaxy]</p>
        
<div class="container">
   <div class="row">
       <a href="@Url.Action("PlanetInfo", "Home", new { name = "Hoth"}, null)"><img class="planetHoth" src="~/Content/Images/hoth-planet.png" /></a>
       <a href="@Url.Action("PlanetInfo", "Home", new { name = "Felucia"}, null)"><img class="planetFelucia" src="~/Content/Images/Felucia-planet.png" /></a>
       <a href="@Url.Action("PlanetInfo", "Home", new { name = "Tatooine"}, null)"><img class="planetTatooine" src="~/Content/Images/Tatooine-planet.png" /></a> 
       <a href="@Url.Action("PlanetInfo", "Home", new { name = "Dagobah"}, null)"><img class="planetDagobah" src="~/Content/Images/dagobah-planet.png" /></a>
       <a href="@Url.Action("PlanetInfo", "Home", new { name = "Death Star"}, null)"><img class="deathstar" src="~/Content/Images/deathstar.png" /></a>
       <a href="@Url.Action("PlanetInfo", "Home", new { name = "Endor"}, null)"><img class="planetEndor" src="~/Content/Images/endor-planet.png" /></a>
       <a href="@Url.Action("PlanetInfo", "Home", new { name = "Kamino"}, null)"><img class="planetKamino" src="~/Content/Images/Kamino-planet.png" /></a>
       <a href="@Url.Action("PlanetInfo", "Home", new { name = "Coruscant"}, null)"><img class="planetCoruscant" src="~/Content/Images/coruscant-planet.png" /></a>      
         
   </div>
</div>

        </div>
    </div>


