<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Brotherhood of Binks</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/CustomCSS.css")
    @Scripts.Render("~/bundles/modernizr")
    <style type="text/css">
        body, a:hover {
            cursor: url(http://cur.cursors-4u.net/mechanics/mec-1/mec69.cur), progress !important;
        }
    </style>
    <a href="http://www.cursors-4u.com/cursor/2005/08/24/mec69.html" target="_blank" title="Star Wars Millennium Falcon"><img src="http://cur.cursors-4u.net/cursor.png" border="0" alt="Star Wars Millennium Falcon" style="position:absolute; top: 0px; right: 0px;" /></a>
</head>
<body background="~/Content/Images/Space.jpg">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Brotherhood", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Planets", "Planets", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
