@{
    ViewBag.Title = "PlanetInfo";
}
<h2 style="font-size: 80px; padding-top: 40px; color:white;"><b>@ViewBag.PlanetName</b></h2> 

<ol class="breadcrumb">
    <li class="breadcrumb-item">@Html.ActionLink("Home", "Index")</li>
    <li class="breadcrumb-item">@Html.ActionLink("Planets", "Planets" )</li>
    <li class="breadcrumb-item active">@ViewBag.PlanetName</li>
</ol>
<hr />
<!--Skeleton of Planet Info Sheet-->
<!--Would be good to include button going back to Planets page-->
<div class="row">
    <div class="col-md-6 pre-scrollable" style="color:white; font-family:@ViewBag.Font;">
        <p class="titles"><b>Region</b></p>
        <p class="stats">@ViewBag.Region</p>
        <p class="titles"><b>Sector</b></p>
        <p class="stats">@ViewBag.Sector</p>
        <p class="titles"><b>System</b></p>
        <p class="stats">@ViewBag.System</p>
        <p class="titles"><b>Moons</b></p>
        <p class="stats">@ViewBag.Moons</p>
        <p class="titles"><b>Class</b></p>
        <p class="stats">@ViewBag.Class</p>
        <p class="titles"><b>Primary Terrain</b></p>
        <p class="stats">@ViewBag.Terrain</p>
        <p class="titles"><b>Species</b></p>
        <p class="stats">@ViewBag.Species</p>
        <p class="titles"><b>Languages</b></p>
        <p class="stats">@ViewBag.Languages</p>
        <p class="titles"><b>Population</b></p>
        <p class="stats">@ViewBag.Population</p>
        <p class="titles"><b>Major Cities</b></p>
        <p class="stats">@ViewBag.MajorCities</p>
        <p class="titles"><b>Affiliation</b></p>
        <p class="stats">@ViewBag.Affiliation</p>
    </div>
    <div class="col-md-6">
        <img src="@Url.Content(ViewBag.ImagePath)" class="img-responsive; img-rounded" style="width: 95%; height: auto" />
        <p><div class="text-center"><button type="button" class="btn btn-secondary" style="text-decoration:none;">@Html.ActionLink("Back to Plants", "Planets", "Home", null, null)</button></div></p>
    </div>
</div>